.grid-background {
  position: relative;
  border: 8px solid #030712;
  border-radius: 5px;
  opacity: 0.8;
}

.grid-container {
}

.block {
  position: absolute;
  background-color: rgb(15, 15, 15);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.block-1 {
  background-image: url("public/assets/block-1.png");
  background-size: cover;
  /*background-color: lightgreen;*/
}

.block-2 {
  background-image: url("public/assets/block-2.png");
  background-size: cover;
  /*background-color: lightcoral;*/
}

.block-3 {
  background-image: url("public/assets/block-3.png");
  background-size: cover;
  /*background-color: lightskyblue;*/
}

.block-4 {
  background-image: url("public/assets/block-4.png");
  background-size: cover;
  /*background-color: lightgoldenrodyellow;*/
}
