[world]
name = "zKube"
description = "Reversed tetris fully onchain."
website = "https://app.zkube.xyz"
seed = "zkube0"

[world.socials]
x = "https://x.com/zKube_game"
discord = "https://discord.gg/pzzRSDZY"
github = "https://github.com/z-korp/zkube"
telegram = "https://t.me/dojoengine"

[namespace]
default = "zkube_budo_v1_1_3"

[env]
rpc_url = "https://api.cartridge.gg/x/starknet/mainnet/rpc/v0_8"
account_address = "0x0601ecb93c6e88eec432910a2c3ab4d9b5c0dd768b55ab4f8c89336e01fafaa7"

[writers]
"zkube_budo_v1_1_3" = [
    "zkube_budo_v1_1_3-achievement_system",
    "zkube_budo_v1_1_3-game_system",
    "zkube_budo_v1_1_3-config_system",
]

[init_call_args]
"zkube_budo_v1_1_3-game_system" = [
    "0x0601ecb93c6e88eec432910a2c3ab4d9b5c0dd768b55ab4f8c89336e01fafaa7", # creator
    "0x036017E69D21D6D8c13E266EaBB73ef1f1D02722D86BDcAbe5f168f8e549d3cD", # Denshokan
    "0x0", "0x0"                                                          # Option::None pour renderer (flag, value)
]
"zkube_budo_v1_1_3-config_system" = [
    "0x0601ecb93c6e88eec432910a2c3ab4d9b5c0dd768b55ab4f8c89336e01fafaa7",
]

[migration]
order_inits = [
    "zkube_budo_v1_1_3-achievement_system",
    "zkube_budo_v1_1_3-game_system",
    "zkube_budo_v1_1_3-config_system",
]