[package]
name = "zkube"
cairo-version = "=2.10.1"
edition = "2024_07"
version = "1.1.3"

[cairo]
sierra-replace-ids = true

[scripts]
slot = "sozo --profile slot clean && sozo --profile slot build && sozo --profile slot migrate --guest"
sepolia = "sozo --profile sepolia clean && sozo --profile sepolia build && sozo --profile sepolia migrate --guest --keystore /Users/matthias/.starkli-wallets/sepolia/braavos_dojo_deployer/keystore.json"
mainnet = "sozo --profile mainnet clean && sozo --profile mainnet build && sozo --profile mainnet migrate --guest --keystore /Users/matthias/.starkli-wallets/mainnet/braavos_dojo_deployer/keystore.json"

inspect-sepolia = "sozo --profile sepolia clean && sozo --profile sepolia build && sozo --profile sepolia inspect"
inspect-mainnet = "sozo --profile mainnet clean && sozo --profile mainnet build && sozo --profile mainnet inspect"

[dependencies]
openzeppelin_token = "1.0.0"
openzeppelin_introspection =  "1.0.0"
dojo = { git = "https://github.com/dojoengine/dojo", tag = "v1.6.0" }
alexandria_math = { git = "https://github.com/keep-starknet-strange/alexandria.git", tag = "v0.3.0" }
alexandria_encoding = { git = "https://github.com/keep-starknet-strange/alexandria.git", tag = "v0.3.0" }
achievement = { git = "https://github.com/cartridge-gg/arcade", rev= "634edcebaa4999d8d2b94d4fb78cac05649c74f3" }
origami_random = { git = "https://github.com/dojoengine/origami", tag = "v1.6.0" }
game_components_minigame = { git = "https://github.com/Provable-Games/game-components", tag = "0.0.10" }
game_components_token = { git = "https://github.com/Provable-Games/game-components", tag = "0.0.10" }
game_components_metagame = { git = "https://github.com/Provable-Games/game-components", tag = "0.0.10" }
game_components_utils = { git = "https://github.com/Provable-Games/game-components", tag = "0.0.10" }
graffiti = { git = "https://github.com/ponderingdemocritus/graffiti", rev = "bc569531791dbc71c6cd8d9bc154c34eedad31fe" }

[[target.starknet-contract]]
casm = true
build-external-contracts = [
    "dojo::world::world_contract::world",
    "achievement::events::index::e_TrophyCreation",
    "achievement::events::index::e_TrophyProgression",
    "game_components_token::examples::full_token_contract::FullTokenContract",
    "game_components_token::examples::minigame_registry_contract::MinigameRegistryContract",
]

[dev-dependencies]
dojo_cairo_test = { git = "https://github.com/dojoengine/dojo.git", tag = "v1.6.0" }
cairo_test = "2.10.1"

# Custom profiles
[profile.slot]
[profile.sepolia]
[profile.mainnet]